<li [ngClass]="{
  'list-group-item': true,
  'list-group-item-danger': post.loveIts < 0,
  'list-group-item-success': post.loveIts > 0
}">
  <div class="d-flex w-100 justify-content-between">
    <h4 class="mb-1">
      {{ post.title }}
      <small class="pull-right">{{ post.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</small>
    </h4>
  </div>

  <p class="mb-1">{{ post.content }}</p>

  <span [ngClass]="{
        'label': true,
        'label-primary': post.loveIts === 0,
        'label-danger': post.loveIts < 0,
        'label-success': post.loveIts > 0
      }">
    {{ post.loveIts }}
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  </span>

  <div class="btn-group btn-group-xs" role="group">
    <button type="button"
            class="btn btn-default btn-xs"
            (click)="onLoveIt()">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Love it
    </button>
    <button type="button"
            class="btn btn-default btn-xs"
            (click)="onDontLoveIt()">
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Don't love it
    </button>
  </div>

  <button type="button"
          class="btn btn-danger btn-xs pull-right"
          (click)="onDelete()">Supprimer ce post</button>
</li>
